[2017-12-04 02:19] blackst0ne opened #1 "Can't add github/cmark"
Hi there,

I'm trying to add https://github.com/github/cmark project but beer.vfeskov.com doesn't find it.

Could you fix it, please? :slightly_smiling_face:

[2017-12-04 02:21] blackst0ne commented on #1
Ah, `Enter` adds, but `Ctrl` + `Enter` does not. :slightly_smiling_face:

[2017-12-04 08:30] vfeskov commented on #1
Yep, suggestions stop showing when you bump against github rate limit (60 per hour), but you can still press Enter without relying on suggestions.

[2017-12-04 08:30] #1 closed

[2017-12-06 20:54] vfeskov opened #2 "Add messages to auth form"
Display messages underneath email and password inputs
- [ ] frontend validation messages, e.g. required, invalid email etc
- [ ] backend error messages, e.g. wrong password, already registered etc

[2017-12-06 21:44] vfeskov opened #3 "Address simpledb limitations"
Too many repos (~50) being watched by the same user will not fit into a single attribute in simpledb causing unpleasant experience for that user.

Use multiple attributes to allow more repos and limit repos.

[2017-12-06 22:01] vfeskov opened #4 "Show message about hitting github rate limit for suggestions"
Show info message to tell user that suggestions cannot be loaded anymore and they can just press Enter instead

[2017-12-06 22:04] vfeskov opened #5 "Allow undoing unsubscribe without being logged in"
Send the same jwt from email to another endpoint /api/subscribe

[2017-12-06 22:10] vfeskov opened #6 "Allow resetting password"

[2017-12-06 22:10] vfeskov opened #7 "Allow changing email"

[2017-12-06 22:15] vfeskov opened #8 "Show maintenance page when deploying"

[2017-12-06 22:22] vfeskov opened #9 "Figure out if re-enabling service worker is possible"
Can service worker send authentication cookies to backend? Otherwise it will always download index as if user is not logged in, making SSR useless

[2017-12-08 01:55] vfeskov commented on #9
https://stackoverflow.com/questions/47706405/service-worker-caching-with-workbox-and-server-side-rendered-spa

[2017-12-10 02:58] vfeskov commented on #9
i did it 🎉 3674d910415f27e8e13074b09874e88bf02cb260 94f1a379d7111e6b2f8b4dcfa743331e5f0d6c22

[2017-12-10 02:58] #9 closed

[2017-12-15 15:47] #2 closed

[2017-12-15 15:47] #3 closed

[2017-12-15 15:47] #4 closed

[2017-12-15 15:47] #5 closed

[2017-12-15 15:47] #6 closed

[2017-12-15 15:47] #7 closed

[2017-12-15 15:47] #8 closed

[2018-01-09 16:14] TPS opened #11 "RFE: GitHub login/authentication integration"
If 1's GitHub account were integrated into Win-A-Beer, some things might be possible:

- [x] Single sign-on, so don't have to remember yet another password
- [ ] Import already contributed, watched, ★ed, &c, repos

What do you think, @vfeskov?  Is it possible?

[2018-01-09 17:19] vfeskov commented on #11
good idea, i'll work on that

[2018-01-09 17:57] iBobik opened #12 "Watch only for security releases"

[2018-01-09 18:10] vfeskov commented on #12
can you please give an example of such release?

[2018-01-11 14:10] iBobik commented on #12
Hmm. Can GitHub mark security release anyway? All I can find have it in a description, but I have not found any release with structured information about type of release.

What about loking for a keywords like: "security" or "CVE"?

[2018-01-11 22:32] vfeskov commented on #11
@TPS  first step done! <img width="698" alt="screen shot 2018-01-11 at 23 31 19" src="https://user-images.githubusercontent.com/2743367/34850781-94e67aca-f727-11e7-8a2c-709bf544b11a.png">

[2018-01-12 00:27] TPS commented on #11
Noted above, but the UI doesn't update when signed in, so it's not really clear that it worked.…

[2018-01-12 00:34] vfeskov commented on #11
You can test it by signing in in incognito tab or in different browser. I will also add github integration option to signed in users soon, and will show some indicator if they already integrated

[2018-01-12 15:02] vfeskov commented on #11
@TPS
<img width="286" alt="screen shot 2018-01-12 at 15 57 47" src="https://user-images.githubusercontent.com/2743367/34880648-637720a4-f7b1-11e7-99a2-4449391cd570.png">
<img width="241" alt="screen shot 2018-01-12 at 15 57 57" src="https://user-images.githubusercontent.com/2743367/34880647-635c6d04-f7b1-11e7-9eee-a7af0e29427b.png">

if you were signed out and clicked on **SIGN IN WITH GITHUB** it

[2018-01-30 13:26] NobbZ opened #13 "Mute single repositories"
Lets say I have maintain a list of watches and do not want to get disturbed during my holidays, but I want to still be notified about releases in two or three repositories that I consider security relevant.

With the current UI I have to delete all un-important repositories and then put them manually back when I'm back from my holidays.

[2018-01-30 13:28] NobbZ opened #14 "Display current known version on the web-interface"
With richards releaser I was able to see in a dashboard like mannor the current version of each watched repository, I'd like to have it here as well.

[2018-01-30 18:12] vfeskov commented on #13
To make emails less frequent (spammy) you can now subscribe to daily updates instead of hourly:
<img width="272" alt="screen shot 2018-01-30 at 19 04 00" src="https://user-images.githubusercontent.com/2743367/35582851-5d918754-05f0-11e8-862a-f0fc98bf2f0d.png">

----

To stop receiving emails when you're on vacation you can click this toggle:
<img width="151" alt="screen shot 2018-01-30 at 19 04 35

[2018-01-30 18:14] vfeskov commented on #14
I've had this idea for a while, I put it in my plans

[2018-01-30 18:34] NobbZ commented on #13
It were just a switch per repo instead of a global one. And my workflow
especially states that I want (or maybe need to) receive updates for
certain repositories ASAP.

But making the controls more fine-grained is a good start. I like that,
regardless if it helps me with this issue.

Vladimir Feskov <notifications@github.com> schrieb am Di., 30. Jan. 2018,
19:13:

[2018-01-30 19:19] vfeskov commented on #13
hm actually adding a mute button next to a repo wouldn't be too bad, i'll work on it

[2018-01-31 15:00] vfeskov commented on #12
@iBobik I'm thinking about allowing to set a pattern to look for in release description, because release name usually doesn't contain much info.

This is a whole 'nother level of complexity though, since release descriptions haven't been loaded so far. On the other hand if i add this it would allow adding descriptions to emails too, which would be nice, but i wanna focus on simple stuff from other

[2018-02-01 12:55] marcuskaufmann opened #15 "Adding a project with full github url"
It would be nice if we could add a project by adding a link to an github project instead by typing it manually.
For instance: Pasting the link to you project (https://github.com/vfeskov/win-a-beer) doesn't find any projects to watch

[2018-02-01 12:57] vfeskov commented on #15
definitely a must, thanks for the idea!

[2018-02-10 10:38] #15 closed

[2018-02-11 22:31] #11 closed

[2018-02-18 14:12] TPS commented on #11
@vfeskov Sorry for disappearing for so long.  Life happened.…

Anyway, what pleasant updates since I last checked!  _Almost_ everything I asked for, but I'd like to request an additional "Select/Unselect All" option to this UI.

[2018-02-18 14:24] vfeskov commented on #11
@TPS hi, can you please open another issue for "select all" ? i think it's a good idea, especially since i refactored code to be much more scalable then before

i have a question about watched repos, don't watchers get emails about releases anyway?

with repos contributed to there's no official github api AFAIK and solutions are pretty [sketchy](https://stackoverflow.com/questions/20714593/github-

[2018-02-18 14:35] TPS commented on #11
Watchers get a _flood_ of _everything, so a separate release notification would be easier to find/notice/sort.  As for each option, if 1 has, say, >1k ★ed repos, maybe separate UI to see just watched/contributed repos would be useful.  Have you seen Sibbell.com?

[2018-02-18 15:07] vfeskov commented on #11
i don't know it feels like when you decide to watch you're not supposed to just ignore emails. Like if I was in such shoes I would make an explicit email filter for notifications that I want to ignore, and obviously I wouldn't ignore release notifications

Is your use-case like this? do you watch repos but need a separate sender specifically for release emails?

Sibbell.com is nice and if i knew a

[2018-02-18 16:06] TPS commented on #11
A way to _filter_ my e-mails better for releases works, so a separate sender helps, yes.

Open-source is _precisely_ why I'm trying to make Win A Beer better.  I just mentioned Sibbell as an example of they show different panels for ★ed/Watched/&c.  Other than that, Win A Beer's features _are_ superior, for a better price (of course 😀).

[2018-02-21 05:06] TPS opened #16 "Add "Select/DeSelect All" to "Pick ★ed Repos to Watch" Dialog"
N.B: This replicates https://github.com/vfeskov/WinABeer/issues/11#issuecomment-366518958 per @vfeskov's request of https://github.com/vfeskov/WinABeer/issues/11#issuecomment-366519670:

[2018-02-27 00:30] vfeskov commented on #13
@NobbZ i just had an idea, `winabeer` supports signing up by email, right? so you can have multiple accounts like `nobbz+important@gmail.com` and `nobbz+meh@gmail.com`, and each can be subscribed to corresponding repos: one to important/urgent and the other to not-so-important. Then you can unsubscribe on not-so-important account.

I feel like it might be a bit cumbersome but ultimately super flex

[2018-02-27 11:49] captn3m0 opened #18 "Automatically add repos that have atleast one release"
I have 1k+ starred repos and going through

![image](https://user-images.githubusercontent.com/584253/36727086-f9edf5ae-1be1-11e8-9054-40752d5bd63d.png)

page by page is impossible for me. If it automatically watched any projects that have atleast 1 release, that would be awesome.

Also, huge :+1: for releasing this and making it open source. I have devmail.in registered for the exact same project

[2018-02-28 18:27] neokio opened #19 "Feedback on the name"
I have a REALLY hard time taking anything named "WinABeer" seriously.
Other than the title, everything about this is pretty excellent!

Great work, recommend renaming it.

[2018-03-01 20:25] MaikuMori commented on #19
Why so serious?

[2018-03-06 15:32] bozheville opened #20 "Skip PATCH releases"
Could you please add an ability to skip `patch` releases so I can track only `major` and `minor`?

[2018-03-15 22:28] vfeskov commented on #19
im thinking about it, so far i haven't monetized the project in any way and the name being funny doesn't matter all that much.

on the other hand, it was an acronym from

would mentioning this somewhere make it more serious, what do you think?

[2018-03-15 22:32] vfeskov commented on #19
well the name does matter anyway, even if i don't monetize it

[2018-03-15 22:41] vfeskov commented on #18
thanks for the offer, i'll consider it if i chose to rename the project

the request duplicates https://github.com/vfeskov/WinABeer/issues/16 , i will update that one once i complete it

[2018-03-15 22:41] #18 closed

[2018-03-18 07:39] gdh1995 opened #21 "The word "win" make QQ mailbox show a security warning"
Thanks for your prefect work! It shows some tips like "Please notice DO NOT input your password or trust any prize info".

Is there any graceful solution to avoid such warnings?

[2018-03-18 10:48] vfeskov commented on #21
aw shucks

[2018-04-15 23:03] #16 closed

[2018-04-15 23:40] TPS commented on #16
@vfeskov When does this roll out?  I'd ❤️ to try it! 😀

[2018-04-16 09:50] vfeskov commented on #16
in like 8 hours i think, after work

[2018-04-16 20:35] vfeskov commented on #16
released it https://github.com/vfeskov/WinABeer/releases/tag/v1.7.0

[2018-04-17 03:44] TPS commented on #19
Why not run it under 2 domains, e.g., a "serious" version to monetize (e.g., private repos, &c), & the current version left mostly as-is?

[2018-04-17 03:50] TPS commented on #21
Maybe whatever resolution of #19 will solve this?

[2018-04-17 14:23] leo-liar opened #22 "Feature request: bookmarklet for adding repositories to watchlist"
Hey there, thanks a lot for your great service!

As the title says I'd like to know if it's possible to include a bookmarklet for **WinABeer**, similiar to the way [**Tell Me When It Closes**](https://tellmewhenitcloses.com/subscribing) handles this? Having this would make adding repositories to the watchlist even more convenient.

[2018-04-19 15:17] TPS commented on #16
Absolutely ❤️!  Switched completely off Sibbell to your digest version! 🏆 🥂

[2018-04-25 14:27] hartwork opened #23 "Adding 13th repository to watch failing :("
Hi!

Missed the hack+tell yesterday, damn! Is there a relationship to sibbell.com's recent pledge (..) that you made this or is it just fortunate timing?

I have toggled 12 of my starred repositories for notification. It keeps failing on the 13th now — https://github.com/EdSchouten/hidesvn to be precise — without indication why. The slider just won't toggle. Is there a limit I'm hitting here? A bu

[2018-04-25 14:36] vfeskov commented on #23
@hartwork winabeer.com has been operational for 5 months now, and i made it not knowing that there was sibbell.com tbh.

anyway, the problem with EdSchouten/hidesvn is that it has no tags/releases on github, and i decided not to allow monitoring such repos to save costs. i will eventually add a proper error message when you try to toggle such a repo

[2018-04-25 14:36] #23 closed

[2018-04-25 14:54] hartwork commented on #23
It's cool to have you're because it's free software and I was about to start a project like that myself, because sibbell.com threatened to shut down the free version unless enough people starting paying 15(!) USD per year. See this:
![sibbell_pledge_mail](https://user-images.githubusercontent.com/1577132/39253882-316c2e44-48a9-11e8-80d3-f3eae5ca780e.png)

I see, thanks!

[2018-04-27 03:05] TPS commented on #16
@vfeskov I'm not sure, but possibly some potential optimizations for this:  If I do "Select All," Wa🍺 takes a certain amount of time.  If I close, & then reopen to "Select All" _again_, it seems to take the same amount of time.  That leads me to believe @ least 1 of the following is true:
- [ ] 1.  Wa🍺 _might_ be rechecking all the (even already-WABed) repos to select them again, which seems waste

[2018-04-27 07:25] vfeskov commented on #16
What happens is it sends all not yet selected repos to backend and backend re-checks atom feeds if they have releases

You cannot check atom feeds from browser because of cross-origin restrictions, only using API, which has rate limit, and I wouldn't reuse the same code

Some optimisation would definitely be cool, but I might even remove restriction to have a release  entirely, because I was told

[2018-04-30 15:55] #19 closed

[2018-04-30 15:55] #21 closed

[2018-05-01 17:47] AlexWayfer opened #24 "Add to watch-list new starred projects"

[2018-05-01 20:14] Vad1mo commented on #24
With the option to still be able exclude some of the starred repos if needed.

[2018-05-01 20:41] sdouche commented on #24
+1. It would be very cool to add the sync with starred projects.

Regards.

[2018-05-01 20:49] AlexWayfer commented on #24
Yes, of course. Without unstarring. 😁

[2018-05-02 02:02] vfeskov commented on #21
Hmm well I tested qq.com myself, I sent emails with different text and links, and it was showing the alert when the email had winabeer.com link in it. New emails don't have this link anymore, please tell me if you ever see this alert again

[2018-05-02 03:42] TPS commented on #19
@vfeskov So, FYI, WinABeer _isn't_ redirecting to GitPunch, but seems to be a kinda-inactive _clone_, right now. (Running the pages side-by-side, G👊 allows more repos that Wa🍺, for unknown reasons.)  →  Intentional?

[2018-05-02 06:00] TPS commented on #19
@vfeskov Also, you forgot to update that AWS Dashboard screenshot to G👊.

[2018-05-02 09:51] vfeskov commented on #19
@TPS yeah service worker cache prevents it from redirecting to the new url, I didn't come up with a solution for this, try deleting cache

[2018-05-02 11:42] vfeskov opened #25 "Problems getting updates from GitHub, temporary no realtime -> every 10 minutes instead"
Current polling model doesn't work well anymore, GitHub atom feeds cannot sustain this many requests, even if i send them in [groups of 50 every 125ms](https://github.com/vfeskov/gitpunch/blob/fea34f7a9160d862f47ebf2d3b595d727099b900/notifier/src/parts/fetchTags.ts#L14) and [retry failures 5 times with 1 second delay](https://github.com/vfeskov/gitpunch/blob/fea34f7a9160d862f47ebf2d3b595d727099b90

[2018-05-02 15:01] soulim commented on #25
Feel free to ask any questions. I'm happy to help 😄

[2018-05-03 02:30] TPS commented on #19
@vfeskov I don't quite understand.…  You can't setup a [direct HTTP 301 permanent redirect](https://en.m.wikipedia.org/wiki/HTTP_301) @ WinABeer.com?

[2018-05-03 03:12] TPS commented on #20
_Does_ GitHub actually have a _standard_ method to differentiate these release types?

[2018-05-03 03:46] TPS opened #26 "Track releases in other/arbitrary repos/platforms"
_N.B.:  This is meant as a **long-term, major-release** tracking issue for whenever, just to get it out there._

@vfeskov Now that this is working perfectly _(enough for me, but you're the dev 🙇)_, how about tracking releases on other, arbitrary, or self-hosted repos/platforms (& login via platform specific authentication _[where available]_ to catch favorites, as well)?

This is meant to be a mas

[2018-05-03 09:31] bozheville commented on #20
@TPS no, it doesn't unfortunately. You can put "Lorem ipsum dolor sit amet" to your version field.

@vfeskov sometimes minor releases can contain also patch version mark, like `0.1.2-rc.3` can be the first release with that `1` in the middle.

[2018-05-03 10:37] vfeskov commented on #20
@bozheville i mean for example `v5.4.0` is a minor release, and `v5.0.0` is a major, `v5.0.1` or `v5.0.0-rc.3` are both patch releases.

like if it ends with exactly `.0` then it's a minor release, and if it ends with exactly `.0.0` then it's a major one.

but then again it's gonna be user's responsibility to make sure the repo does follow semantic versioning

[2018-05-04 00:32] beeing opened #27 "Gitpunch website problem"
Hi, after sign in via GitHub, the page will be downloaded as a html file instead of showing on browser.

[2018-05-04 01:54] ThomasKientz opened #28 "Cleanup email subject and body"
Hi,

Actually a subject looks like

I suggest to delete "New GitHub Release: " and so to reduce entropy of emails and improve readability. Since the email is coming from "releases@beer.vfeskov.com" we already know that it is about a github release, so its redundant.

You could also remove this from the email body :

Gitpunch is a great alternative to Sibbel. Thank you for the very good work. Love

[2018-05-04 07:24] aliusmiles commented on #27
+1, works OK in Chrome, but downloads page in Safari.

[2018-05-04 08:40] AlexWayfer opened #29 "Unable to enable specify repos watching"
Hello! I can't enable watching for following repos:
* `sallar/github-contributions-chart`
* `philipwalton/flexbugs`
* `rubygarage/api_struct`
* `opal/opal-browser`

Console:

[code]

Thank you.

[2018-05-04 08:44] vfeskov commented on #29
@AlexWayfer these repos do not have any releases on GitHub, so they probably never will and monitoring them would be a waste of resources, that's why gitpunch.com doesn't allow such repos to be watched

[2018-05-04 08:44] #29 closed

[2018-05-04 09:35] AlexWayfer commented on #29
Thank you for clarification.

I'm ready to donate/pay for GitPunch, or try to deploy somewhere myself (so, it can have an option, disabled by default, which I'll able to enable), but I want to be notified if any of these repos will use tags/releases.

[2018-05-04 11:37] vfeskov commented on #29
I'll include removal of this limitation with #25 resolution.

By minimal deployment I meant not deploying Web interface at all and just modifying db directly. For Web interface you'd have to configure more things, I think server's README.md should have all the required info

[2018-05-05 10:57] vfeskov commented on #25
@soulim man it seems like github only allows subscribing if you own the repo 😭

I created `hugebullet/test-events` and `facebook/react` repos, and tried to subscribe from my main account:
[code]
(same response for react)

Then I created `vfeskov/test-events`, which my main account owns, and subscribed successfully:
[code]

I also was able to subscribe to `hugebullet/test-events` using `hugebullet`

[2018-05-05 12:30] vfeskov commented on #28
@TPS  yeah replacing sender has been due for a long time, why I haven't done it yet is because of having to go through verification process with AWS again and the fact that it'll break email filters.

anyway im going to do it sooner or later

[2018-05-05 12:49] vfeskov commented on #27
@beeing @aliusmiles what browser and version does that? Works fine for me in Safari 11.0.3, Chrome and FF. Also which domain are you using, gitpunch.com?

[2018-05-07 01:03] beeing commented on #27
@vfeskov I'm on Safari Version 11.1 (13605.1.33.1.4) accessing gitpunch.com

Chrome is working fine though. Btw, any idea why some starred repo watch cannot be enabled?

[2018-05-07 08:46] aliusmiles commented on #27
@vfeskov, Safari Version 11.1 (13605.1.33.1.4), gitpunch.com

[2018-05-07 09:00] aliusmiles commented on #27
Btw, the same issue with Safari on iOS.

MacOS User Agent: `Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_4) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.1 Safari/605.1.15`

iOS User Agent: `Mozilla/5.0 (iPad; CPU OS 11_3 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.0 Mobile/15E148 Safari/604.1`

Although issue doesn't seem to be in UserAgent - I've tried to change it i

[2018-05-07 09:13] soulim commented on #25
@vfeskov that is weird. Usually public repos are open this kind of things. I'll need to play with the subscription functionality to give you more detailed answer.

Btw, `HTTP/1.1 422 Unprocessable Entity` response looks a bit suspicious. Usually 422 means something wrong with your request, e.g. bad formatting or missing required fields.

[2018-05-07 09:14] vfeskov commented on #27
thanks for additional info peeps, i will try to reproduce and fix it ASAP

[2018-05-07 09:25] vfeskov commented on #25
@soulim I sent the same request to the repo I own and it succeeded with 204 No Content, which makes me think the format is fine

422 could just mean a generic request error, meaning the user should not try to repeat it, and it makes sense if my suspicion is correct - you can't request to subscribe to repo which you don't own

[2018-05-07 09:31] vfeskov commented on #25
i have this crazy backup idea of programmatically clicking Watch button on all the repos and parsing emails from github, what do you think?

[2018-05-10 11:40] vfeskov commented on #12
so i gave it a lot of though and ultimately i think there's a lot of ongoing effort from github itself and, for example, npm to alert users when their projects have security vulnerabilities. I genuinely think it's better to rely on those alerts instead of release descriptions

[2018-05-10 11:40] #12 closed

[2018-05-10 15:19] #27 closed

[2018-05-10 15:21] vfeskov commented on #27
there was an embarrassing typo in content-type of the server response, it's fixed now, tell me if the bug still happens i'll reopen

[2018-05-10 19:22] tsupertramp opened #30 "Lost my subscription during migration from winabeer to gitpunch"
Hey Ho,

first of all - awesome project. Really love it :) Makes my life easier.

If you every are in Germany in cologne / duesseldorf give me shoutout would love to meet you in person!

Now the sad subject: During migration from winabeer to gitpunch i lost all my subscriptions. Account was connected through github.

Greetings, Thomas

[2018-05-10 22:39] vfeskov commented on #30
thanks man, would be cool to meet

i looked up your github username in the db and i see that there are two matching email address, one with `+github` suffix, and one without.

the way it works now when you sign in with github it either logs you in or registers new account, it depends on whether your github email was registered already or not

i think what happened was you signed up having one emai

[2018-05-11 02:27] TPS commented on #28
@vfeskov This needs a little more tweaking. Here's my __subject__ line from last e-mail:
<Details>
zfsonlinux/zfs@zfs-0.7.9, blokadaorg/blokada@3.4.100500, EFForg/privacybadger@release-2018.5.10, vim/vim@8.0.1813, vim/vim@8.0.1812, vim/vim@8.0.1811, vim/vim@8.0.1810, vim/vim@8.0.1809, vim/vim@8.0.1808, vim/vim@8.0.1807, transloadit/uppy@0.24.3, opengapps/arm@20180510, jedisct1/dnscrypt-proxy@2.0.1

[2018-05-11 05:33] beeing opened #31 "Allow watch all starred"
Hi @vfeskov, here's a new feature that I'd like. Was using sibbell until it announced its going to be discontinued.

It can just watch all starred repos instead to enable it on the gitpunch app.

Also noticed that repos without releases cannot be watched.

Hope you can consider this. Thanks in advanced!

[2018-05-11 09:05] vfeskov commented on #31
closing in favor of #24

[2018-05-11 09:05] #31 closed

[2018-05-11 09:07] tsupertramp commented on #30
Ah yeah you are right, i changed my main github email. That explains it. Will fix it myself. Just was afraid that it was due to migration and could happen to other ones as well. - Thanks for your work!

[2018-05-11 09:07] #30 closed

[2018-05-11 16:33] soulim commented on #25
Played with options today. You are right, it possible to subscribe to your own repos only 🙄

It's possible to watch public events for repos, but that gives tons of "garbage" events and it isn't possible to filter them by the type. However Events API is designed for polling, so seems like that is the supposed way to go.

[2018-05-11 16:36] vfeskov commented on #25
@soulim so even events api requires polling those events?

[2018-05-11 16:43] soulim commented on #25
I don't know why, but `ETag` header is not available for Atom feeds.

[2018-05-11 16:47] soulim commented on #25
@vfeskov yep, you have to poll the Events API. You are allowed to make 60 requests per minute. The API returns all possible events which could be a lot of bytes to transfer 😄

[2018-05-12 10:01] vfeskov commented on #25
@soulim looks like it also supports pagination to fetch up to 300 most recent events, they also send `X-Poll-Interval` header that tells how often to poll, right now it says 1 minute. Tried with OAuth token and it didn't have any effect.

I sure hope it is always possible to read all events that happened in the last minute, because 300 seem like not so many. Like, if 500 events happened in last mi

[2018-05-12 16:31] vfeskov commented on #25
i wrote a little script tracking how latest event id increments between requests, turns out there are 1600 events happening every minute on average

[2018-05-13 17:30] vfeskov commented on #25
i gave it another thought

[2018-05-14 09:17] vfeskov commented on #25
Right now it's 5400 events per minute, or 90 per second. Probably it's even more at peak times, so I better request all 10 pages of events (300 events) every second, which is 36k requests per hour -> 8 github accounts to stay below rate limit

These 36k are more than I do now polling atom feeds, but it's a fixed number and it will not increase with more users. Having atom feeds as a backup strateg

[2018-05-14 09:47] soulim commented on #25
Well, sounds like a good solution 😄

[2018-05-15 08:38] AlexWayfer opened #32 "Too fast emails?"
Hello!

Some releases emailed too fast, I think, and emails have no release description.

Examples:

## Babel

### 3:21 AM

![image](https://user-images.githubusercontent.com/6510020/40045750-cd99cfe4-5833-11e8-8207-2e4856ded914.png)

### 11:09 AM

![screenshot-inbox google com-2018 05 15-11-34-01](https://user-images.githubusercontent.com/6510020/40045808-f91a66ec-5833-11e8-81c8-cd635503c31c.png)

[2018-05-15 09:29] vfeskov commented on #32
so this is what Sibbell calls realtime, interesting

i can add a checkbox to let you control if you wanna wait for release description or you want email ASAP.

i probably cannot determine automatically if release description will follow, because some repos simply don't have release descriptions at all, e.g. https://github.com/angular/angular/releases

[2018-05-15 09:32] AlexWayfer commented on #32
Yes, I know.

Good thought. I think, there can be delay for 30 minutes or even 2 hours. Maybe some delay by default.

Real-time is cool, but I'm not sure that this is better than email this release description.

[2018-05-15 09:37] vfeskov commented on #32
some people do want the emails ASAP tho, e.g. #13

[2018-05-15 09:49] AlexWayfer commented on #13
It doesn't work with every email provider.

[2018-05-15 09:51] vfeskov commented on #28
@TPS my idea was that having full repo@version format would be easier to setup email filter for, e.g. you can catch `angular/angular@7.0.0` release by simply filtering the subject by it.

@ThomasKientz what do you think?

[2018-05-15 09:51] AlexWayfer commented on #32
They can enable real-time, I'm talking just about default. But as you wish.

[2018-05-15 12:34] vfeskov commented on #25
@gomaak suggested further optimisation: it's possible to detect if some events were missed simply by checking event IDs, and fetching atom feeds can be triggered when there were some events missed. Effectively it would mean that fetching atom would almost never happened, which is great

[2018-05-15 15:29] vfeskov commented on #28
good point, i didn't consider filtering by body, but i still would like to see versions in the subject. i guess i'll do `angular/angular@6.9.1,7.0.0`

[2018-05-15 15:32] TPS commented on #28
Maybe (possibly configurable) different behavior when doing individual e-mail vs digest?

[2018-05-18 15:17] iz65535 commented on #24
+1 for this feature. If user doesn't want notifications, she always can manually switch it off.
similar functionality was present at sibbell, until they shut down related service.

[2018-05-19 16:03] vfeskov commented on #25
ok so i can't detect if some public events were missed between poll requests and between pages because it's now obvious that some events are private and all events share same id sequence

[2018-05-21 11:28] #28 closed

[2018-05-21 11:32] vfeskov commented on #28
guys i shortened subject here 495eaf5 , examples:
- when there are multiple repos: `material-ui@1.0.0; react@16.3.2`

- when there are multple releases of a repo: `angular@5.2.11, 6.0.2; vue@2.5.16, 2.5.15`

tell me what you think

[2018-05-21 12:14] vfeskov commented on #25
all done and deployed! 🎉

server fetches last 150 gitpub public events every second, puts release events into SQS queue where they stay invisible for 30 seconds, then notifier script picks up the events and sends emails only about those. every hour the notifier script will ignore events and fetch releases of all repos -> a backup strategy if some release events were missed

documented it in readme

[2018-05-21 12:14] #25 closed

[2018-05-22 03:17] TPS commented on #28
It's just what I wanted, so it's great. (Sorry about delay: I'd to wait for my daily, scheduled e-mail.) :bow:

[2018-05-22 15:39] vfeskov commented on #24
definitely on the roadmap peeps

[2018-05-23 02:26] ThomasKientz commented on #28
@vfeskov Hi !

IMO, the `from` object should be "GitPunch", instead of "releases@beer.vfeskov.com".  That will be cherry on top, everything else is perfect !

[2018-05-24 15:06] Jacalz opened #33 "Add option to use 24h time when setting the daily mail option"
Having the option for 24h time and not only AM/PM would be great for people that lives in parts in the world where AM/PM isn't used :+1:

[2018-05-24 15:12] vfeskov commented on #33
it depends on your locale, i guess you're using US locale. With Chrome and Firefox you choose locale when downloading the installer, Safari I think depends on your system preferences. I can add an option to switch to 24h format

[2018-05-24 15:13] Jacalz commented on #32
+1 from me on this one, having a setting for it to wait for the description would be very useful :+1:

[2018-05-24 15:14] Jacalz commented on #33
Sounds good to me :slightly_smiling_face:

[2018-05-24 15:29] Jacalz opened #34 "Improve styling of emails so they look more modern"
Right now the emails look very basic and only have text, would look way better if they had some css styling or something like Sibbell:

Current look:
![image](https://user-images.githubusercontent.com/25466657/40495379-5fbbc72a-5f77-11e8-9665-310d0202b90d.png)

Look of dead Sibbell emails:
![image](https://user-images.githubusercontent.com/25466657/40495438-7d7fbfbe-5f77-11e8-9e92-1ceefda22789.png

[2018-05-28 23:07] kosli opened #35 "Limit on number of watched repos"
Hi

Is there a limit on how many repos can be watched/subscribed? As for many repos I cannot activate the watching slider. But it seems it is for all repos where there hasn't been made yet a release?

KoS

[2018-05-29 05:12] #35 closed

[2018-05-29 15:20] kosli commented on #35
wow, that was FAST! Thanks. I can confirm that it works.

[2018-05-30 14:04] svenluijten commented on #34
To be honest I prefer the "simple" emails. Just like the ones you'd get from GitHub normally, this makes it already easy to scan and readable on every device.

[2018-05-30 17:20] Jacalz commented on #34
It is the absolute opposite for me because I find it harder to read those simple emails because all looks the same to me 😅

[2018-05-31 07:51] torgeirl commented on #20
@vfeskov: this sounds like a good feature. Just to come with an example my needs for notifications are very repository dependent:

- some I depend on as a developer, and just need to know of the major releases (breaks)
- certain web applications I manage instances of at work, and need to know every patch (security)
- others I work on or follow, and would like to know every release of (including RC

[2018-05-31 08:03] torgeirl opened #36 "Allow Github logins to select between emails"
Regular users can control which email they receive which notifications to by registering with multiple emails (essential having more than one account):

Users logged in with Github seems to be constrained to their main email, and then having to register another account with regular login if they want more control over where the notifications are sent.

Doesn't the Github OAuth API allow you to req

[2018-05-31 10:21] vfeskov commented on #36
@torgeirl yes you're right, github does allow me to request all emails, and it'd be natural to see your github emails under one account on gitpunch, Im definitely going to do it

[2018-06-01 18:07] mikhoul commented on #24
Was coming here to ask this, having an option to **add automatically new starred projects**. and having the ability like now to remove it later would save lot of clicks.

Thanks for this very useful service :octocat:

[2018-06-02 10:10] msiemens commented on #24
What I'd like to have, and I don't know whether this falls under the scope of this issue, is removing no longer starred projects from the watch list. Should I open a new issue for that?

[2018-06-02 13:02] vfeskov commented on #24
@msiemens i'm taking it into account

[2018-06-04 14:41] der-eismann commented on #14
I'm a bit skeptical on this since it wouldn't be "current version", but rather "latest released version". Repositories like Docker or PHP maintain several branches of their software so it's possible that yesterday php 7.2.5 was released and today it's php 7.1.15, so "current version" isn't technically correct.

[2018-06-04 14:48] der-eismann opened #37 "Make repo-list sortable"
Now that I am adding my 15th watched repository (for packaging purposes) I am starting to lose the overview because the list is ordered by the date the repos were added to the list. Alphabetical sorting would make it easier to get an overview.

[2018-06-05 04:09] TPS commented on #14
@der-eismann Since G👊 is _only_ about the latest release anyway,  that's what make sense in context.

[2018-06-10 08:14] schittli opened #38 "Small improvement: add a simple Table of content in the E-Mails?"
Good morning

#### Thank you very much for sharing / offering this useful tool!, it's very helpful.

### I have just a small suggestion:
it would be great if the E-Mail Body could have a simple Table of content, the items must not be clickable. Just some text so that we can get an overview if there are a lot of items and the subject is not long enough. For example:

- **ClassOutline**, 2017.2
- **

[2018-06-10 15:35] AlexWayfer commented on #32
This is my dream for service like GitPunch, but I think it's very difficult (too many formats, too many regexps).

[2018-06-12 23:14] crazy-max opened #39 "Display user/organization in email subject"
Hi!

First of all thanks a lot for this great app! I switched to GitPunch since Sibbell was closed.

For my request, it would be nice to display the user/organization in the email subject because some repository's names are hard to catch like this one for nextcloud/server :

![image](https://user-images.githubusercontent.com/1951866/41322030-06b4115c-6ea7-11e8-9307-e539b18bba27.png)

A good title

[2018-06-16 15:31] #13 closed

[2018-06-17 20:23] TPS opened #40 "Move/duplicate footer to/as header"
When 1 has _many_ G👊'ed repos, it's very difficult to actually get to that website footer on mobile.

Moving to/duplicating it @ the top would solve it.  (Making it floating @ bottom of screen would too, but many folks dislike that.)

[2018-06-17 20:41] TPS opened #41 "RFC/E: Defraying costs via donation, monetization, &c"
This is a peremptory RFC, as it's been mentioned (in passing) in several other issues.:

@vfeskov You clearly have some costs associated w/ this project.  As they grow, I'm sure you'll want to have them covered.  Some of the plans I've read elseplace.:
- [ ] Freemium: Charging some group of folks (companies, users w/ special needs, &c) an amount that'll cover everyone else → If GitHub/Microsoft ge

[2018-06-18 10:09] vfeskov commented on #41
thanks for raising this issue and providing the options, I appreciate it

I like the idea of raising money for a feature, although tbh i think there's not many features left

Donation button would take the least effort, but I'm procrastinating because of the legal stuff, e.g., I don't want my tax rate to get higher because of this. Once I talk to a lawyer I'll do it

[2018-06-18 16:08] TPS commented on #41
Especially w/ an open project like this (& considering what happened to alternatives, e.g., Sibell ⚰️ 😭), it's always better to drag the 🐘 out to the center of the dining room & 🍴, a bite @ a time, publicly, so more consumers make lighter work. 😉

Ok, I'm done mixing metaphors, old sayings, & idioms… for now. 🙇

[2018-06-18 16:13] TPS commented on #38
Maybe this could _optionally_ replace what looks to be the e-mail subject, for those who prefer this?

[2018-06-24 17:09] cremor commented on #24
I'd definetely need this. I'd like to automatically watch new stars, but not watch all existing stars.

[2018-06-24 18:20] mikhoul commented on #24
@vfeskov  A small thing, I've tested by adding a random repo named "MOMO" and when I logged into my GitPunch at first it was not "enabled" :

![image](https://user-images.githubusercontent.com/5678673/41822079-38ca547a-77b8-11e8-8fbb-8a681a058fe2.png)

Which defeat the purpose to just to have "star" a new repo to receive an email when a new version is released.

Right now to receive an email from

[2018-06-24 18:35] vfeskov commented on #24
@mikhoul thanks for feedback,  I will think of how to improve UI. Idea is to toggle Watch All and then it will automatically add new starred project to gitpunch every 15 minutes . Any idea how to describe it properly there in ui?

[2018-06-24 19:07] AlexWayfer commented on #24
[ ] Watch all _(sync every 15 minutes)_

[2018-06-24 19:59] kireerik commented on #24
You could create something like this under a `settings` section instead of the current `Watch All` toogle:

`Watch newly starred repositories`: `on` (by default)

[2018-06-24 20:50] TPS commented on #24
Maybe dynamically replace external "Watch ★s" w/ that toggled on "Watching All ★s", which, when toggled _off_, brings 1 back to previous "Watch ★s" flyout page?  That'd be cleaner/less redundant.

Other than that, ___fantastic!___

[2018-06-25 16:40] mikhoul commented on #24
@vfeskov   I'm not sure I understand and found it a little confusing,

I'd like to be able to choose which Repo will send me an email (Not all) **AND** at the same time that the new Repos would be added automatically to my list.

Since usually when I found a new interesting repo I want to receive notification when a new release is available. Maybe few month later I will keep it in my starred list

[2018-06-25 16:55] vfeskov commented on #24
@mikhoul

1. The homepage https://gitpunch.com has all the repos for which you will receive emails about new releases

2. If you turn on "Watch All Stars" like so: <br/><img width="300" src="https://user-images.githubusercontent.com/2743367/41823256-572c40c8-77fd-11e8-9223-2d960816ee97.png"/><br/>then new repos that you star will automatically be added to the homepage. Gitpunch checks every 15 min

[2018-06-25 17:12] vfeskov commented on #24
hmm @mikhoul i think i understand, you want to watch projects that you starred recently but not the ones that you starred long time ago? It's pretty hard to do in a smart way (github's api doesn't tell when a user starred a project), but what you can do is go through them on the homepage https://gitpunch.com and mute those projects you're not interested in by clicking a bell button. Grey means it'

[2018-06-25 18:49] AlexWayfer commented on #24
What about some button "Enable all" (or just make it by default) and separated button "Auto watch for new starred projects"?

[2018-06-25 19:04] vfeskov commented on #24
@AlexWayfer you can click the watch all toggle twice and it would work as enable all button

[2018-06-25 20:40] AlexWayfer commented on #24
Ok, I don't need this, I'm just trying to clarify (and simplify?) UI.

[2018-06-26 17:43] mikhoul commented on #24
[**@vfeskov**](https://github.com/vfeskov) commented on [25 juin 2018 à 13:12 UTC−4](https://github.com/vfeskov/gitpunch/issues/24#issuecomment-400026954 "2018-06-25T17:12:21Z - Replied by Github Reply Comments"):

@vfeskov   Ahhh English is not my first language that's why it can be confusing on subtile issue like this 😉.

I will make a mockup to help you to understand what I mean....

I know abo

[2018-07-04 05:05] Jacalz commented on #32
A simple way would be to just have an option to delay the emails by a set amount or something...

[2018-07-10 08:14] AlexWayfer opened #43 "Emails preview"
Hello!

I want to make some style improvements for email.

How can I look at emails preview (with repo launched on my side)?

[2018-07-10 16:31] vfeskov commented on #43
what do you mean? are you talking about some email client's feature?

[2018-07-10 16:37] AlexWayfer commented on #43
For example, I want to try to increase `font-size`. Or add `background-color` for `<code>`.

[2018-07-10 17:14] vfeskov commented on #43
ah, https://github.com/vfeskov/gitpunch/blob/master/notifier/src/parts/email.ts#L66-L89

[2018-07-10 17:14] #43 closed

[2018-07-10 17:18] AlexWayfer commented on #43
@vfeskov Thank you, I found this code. But I'm asking for ability to **preview** changes in this code, without email sending (some release waiting). Like "email development mode", "email live preview".

[2018-07-10 17:21] vfeskov commented on #43
hmm https://testi.at ? i was just sending emails to myself when developing ¯\_(ツ)_/¯

[2018-07-10 17:32] AlexWayfer commented on #43
@vfeskov OK, how did you send them to yourself? How did you trigger this code above?

[2018-07-11 03:08] vfeskov commented on #43
I ran the notifier script on local db, where my user was alerted of a previous version of a repo, but not the latest one. I also disabled updating db

To setup notifier script check readme

[2018-07-15 09:14] #38 closed

[2018-07-15 09:14] #34 closed

[2018-07-15 09:18] vfeskov commented on #38
made it so that if there are more than 1 release, it will show a ToC in the beginning of email:

<img width="1063" alt="screen shot 2018-07-15 at 11 16 46" src="https://user-images.githubusercontent.com/2743367/42732371-9cce2c08-8820-11e8-8bf5-791b5114de3f.png">

also sort repo names alphabetically now

[2018-07-15 15:43] Jacalz commented on #34
Thanks for fixing this @vfeskov 👍

[2018-07-20 14:37] FabioPedretti opened #45 "Incomplete Release Notes inside mail"
I am subscribed to both Gitpunch and CodeRelease.io. Gitpunch often sends empty releases notes, while I get proper notes with CodeRelease.io.

I am not sure, but maybe the release notes are added by the developers after some time the release is created, so the mail is sent empty (I noticed CodeRelease.io sends the mail later than Gitpunch). Maybe adding 24h before sending the mail (#33) could be u

[2018-07-20 15:04] vfeskov commented on #45
duplicate of #32 , this happens because sometimes people make a release with no description and put the description later. GitPunch sends emails based on GitHub's public events, and once a release is published - email follows shortly after, and sometimes there's no description yet to put in the email

[2018-07-20 15:04] #45 closed

[2018-08-19 14:45] ThomasKientz opened #46 "Shortcuts to github project"
Would be awesome to have a button that opens the project's GH repo in a new page.

<img width="663" alt="capture d ecran 2018-08-19 a 16 41 47" src="https://user-images.githubusercontent.com/10157845/44309983-3f475f80-a3cf-11e8-87b0-6650c969389c.png">

[2018-08-19 15:46] vfeskov commented on #46
closed in https://github.com/vfeskov/gitpunch/commit/b933e5f484ccaaa3238eb8167bee938ee9e4a94a

[2018-08-19 15:46] #46 closed

[2018-08-20 22:20] PaulAnnekov opened #47 "Add config to ignore "pre-release" releases"
It will be good to have a global and per-repo config to ignore "pre-release" releases. Sometimes you don't care about them and want them to don't make a mess in your inbox.
As an alternative, we can think about adding some marker in an email (in a title?), to be able to add an easy filter for repo name AND "pre-release" marker.

[2018-08-21 08:05] aeimer opened #48 "BUG: Bell stays blue after clicking"
I don't know if it's a wanted behaviour, but if you hover a repo the bell is grey. After clicking it it turns blue, but does not goes back to grey after clicking it again...

[2018-08-23 14:30] TPS commented on #28
@vfeskov A _very_ minor RFE to this & #38:

Could these be sorted in ascending (oldest to newest) order _within_ each of these repos (perhaps optionally)?  Certain repos (e.g., [vim](https://github.com/vim/vim/releases) & [chromium](https://github.com/chromium/chromium/releases/)  will have ½ a dozen releases a day, & the changelogs don't make much sense in the current, reversed order.

[2018-08-23 14:32] vfeskov commented on #28
Totally. Should I keep the reversed order in title? @TPS

[2018-08-23 17:30] TPS commented on #28
No, keep it consistent & obvious, as things are much easier to follow in ascending order, everyplace, AFAIK.

[2018-08-23 21:11] PaulAnnekov commented on #47
This one is easier to implement. There is "pre-release" tag already exists so it's easy to filter releases. #20 requires some magic to get "patch" version part from `[0-9a-z]+` version.

[2018-08-26 21:39] #39 closed

[2018-08-27 01:09] TPS commented on #28
@vfeskov Thanks very much for https://github.com/vfeskov/gitpunch/commit/d08b5822ff3ac93f457543267c3040c6cc5b7bf4 : it's perfect.

[2018-08-28 15:30] vfeskov commented on #48
@aeimer can you tell on which OS and browser it happens?

[2018-08-28 17:41] aeimer commented on #48
@vfeskov I tried it on Windows 10 and (the latest) Firefox

[2018-08-28 19:56] AlexWayfer opened #49 "Font-size in emails"
Hello!

Thanks for the emails update.

But it's quite difficult to read…

Can we increase the font-size? For all elements, I think.

Please, compare with web-version:

![image](https://user-images.githubusercontent.com/6510020/44747277-71feff80-ab15-11e8-9cbe-e63a4891dc21.png)

![image](https://user-images.githubusercontent.com/6510020/44747290-7deac180-ab15-11e8-8c41-232c50415829.png)

[2018-08-31 08:08] Vad1mo opened #50 "Email should have a link to the repo itself"
The Current notification Email only a links to the release.
I propose to change the links and add an additional link.

**Current**
<img width="739" alt="bildschirmfoto 2018-08-31 um 08 25 27" src="https://user-images.githubusercontent.com/1492007/44896074-3facf800-acf7-11e8-918b-d331d2317927.png">

**Change**
The GitHub Link that currently points to the release should point to the repository.
The

[2018-08-31 09:00] aliusmiles commented on #50
Would be even nicer to have direct link to CHANGELOG file, but since it could be named/located differently I guess that's could cause issues..

[2018-09-02 04:00] TPS opened #51 "RFC/E: AstralApp instance integration"
@vfeskov In short, it's a nifty way to organize 1's ★ed repos, & would solve #37.

Details/screenshots @ https://astralapp.com/, source @ https://github.com/astralapp/astral.

To actually run on G👊's public service, you might have to get special permission from @Syropian due to [BSD-3-Clause licensing](https://github.com/astralapp/astral/blob/master/LICENSE).…

[2018-09-05 03:35] TPS commented on #37
@der-eismann What do you think of #51?

[2018-09-05 10:26] der-eismann commented on #37
I don't know, seems a bit too much for me. There's no need for notes, tags etc., all I want to do is sort my 40 followed repos by organization or project name.

[2018-09-05 10:27] vfeskov commented on #37
i'll do this and other quality-of-life improvements over the weekend

[2018-09-09 11:06] #50 closed

[2018-09-09 11:08] Vad1mo commented on #50
🎉

thank you

[2018-09-10 12:10] vfeskov commented on #47
@PaulAnnekov i think https://github.com/vfeskov/gitpunch/issues/20#issuecomment-393442713 covers your requirement, I will also add the option to change this config globally for all repos

closing this one in favor of #20

[2018-09-10 12:10] #47 closed

[2018-09-10 12:16] vfeskov commented on #51
how do you envision it? info from astralapp shown next to each repo on gitpunch?

[2018-09-10 12:28] TPS commented on #51
@vfeskov The way I figure, AstralApp could be presented as the (optional? advanced?) website front-end/UI to manage the repo-list (below "E-mails are on" options), to complement all the extraordinary backend work you've done, as well as your bread-&-butter e-mail notifications. But…

@Syropian, what do you think of https://gitpunch.com/ ?  Do you think your AstralApp mashed-up w/ it could be licen

[2018-09-10 13:38] syropian commented on #51
I'm not sure I want to reduce Astral to a piece of UI that gets assimilated into another differently-branded project. If anything, it would almost make _more_ sense to do it the other way around and integrate GitPunch into Astral, since Astral has a more complex UI already in place. However I'll totally leave that up to @vfeskov, I have no intention of integrating GitPunch functionality into Astra

[2018-09-10 15:50] TPS commented on #51
@syropian That's fine, except you've no public instances yourself – each user is expected to run their own instance someplace.  Since @vfeskov runs a public UI to manage ★ed Repo Notifications, I'm hoping Astral could be a kind of upgrade to that UI, but including all that G👊 goodness on top.

[2018-09-10 16:00] syropian commented on #51
@TPS No public instances? What about https://astralapp.com ? 😅

[2018-09-10 16:10] TPS commented on #51
_OT: @syropian Does it show up on mobile? How would 1 login?  All I see is the info _about_ it, along w/ lotsa screenshots of it hosted on https://astral.test .…_

[2018-09-10 16:11] syropian commented on #51
@TPS You can't sign in on mobile because the app is not optimized for mobile.

[2018-09-10 16:20] TPS commented on #51
@syropian So, basically invisible to most of us, anyway, even if there were to be G👊 ↔️ Astral integration in some form.  I've opened https://github.com/astralapp/astral/issues/220, & will close this pending that.

[2018-09-10 16:20] #51 closed

[2018-09-10 17:42] PaulAnnekov commented on #20
@vfeskov https://github.com/home-assistant/home-assistant/releases. I want to get only non-beta releases. Beta is when it has "pre-release" mark, also ends with `b[0-9]`. Looks like your algorithm won't help me, because `0.77.0b0` will be patch release, `0.77.0` will be minor release and `0.77.1` will be patch release and I want to get `0.77.0` and `0.77.1`, but not `0.77.0b0`.

[2018-09-10 18:02] vfeskov commented on #20
@PaulAnnekov :+1:

[2018-09-10 19:11] PaulAnnekov commented on #20
If you still want to deal with all this version mess among different repositories, you can implement "pre-release" marks as one more option:
- every release
- pre-release ("pre-release" mark)
- patches (but no dashes, like RCs)
- minors
- majors

[2018-09-15 12:15] vfeskov commented on #20
@PaulAnnekov looks like pre-release mark is not available in atom feeds: https://github.com/home-assistant/home-assistant/releases.atom , only via API, which has rate limits. Because of those I had to switch to atom feeds and I don't think supporting pre-release option is worth going back to API

[2018-09-15 14:37] PaulAnnekov commented on #20
Is it a problem to use API when user selected "pre-release" and atom for other options? Also can you explain what rate limits did you encounter?

[2018-09-23 20:04] szpak opened #52 "Broken link with "release/2.4.0" tag"
I'm a very happy user of GitPunch. In my own projects I use a release tag naming convention `release/$version`. In the email received today I noted that a link is broken. It seems that the `release/` part was skipped. The link in the email I've got was:
[code]
instead of:
[code]
As the release process (including tagging) is done automatically (there are no manual changes in tags), the easiest expl

[2018-10-03 02:05] TPS commented on #41
@vfeskov I added ☑️s for grants (take a look @ the link included) & advertising (of course, I missed that 🐋 earlier, while remembering smaller 🐘s.… 🤦).

[2018-10-10 14:22] aeimer commented on #48
BTW, the error still exists. I hoped it would be fixed with the latest releases... :/

[2018-10-29 21:48] crazy-max opened #53 "Add an option to skip notifications for "pre-release""
Hi,

Today we receive notifications for `pre-release` : https://github.com/brave/browser-laptop/releases/tag/v0.25.203

![image](https://user-images.githubusercontent.com/1951866/47682414-96865f00-dbcc-11e8-9d7b-1575c211f63a.png)

Is it possible to add an option to skip notifications for these ?

[2018-10-31 13:20] Jacalz commented on #53
+1 on that 👍 Especially with Brave 😅

[2018-10-31 13:31] vfeskov commented on #53
im basically done with this feature, you'll be able to subscribe to major & minor releases only, meaning any release that matches pattern `*.*.0`

i want to properly cover all the usecases with end-to-end tests before i deploy it, which will take some time, probably this week i'll finish

[2018-10-31 15:17] crazy-max commented on #53
Awesome @vfeskov ! Thanks a lot

[2018-11-03 13:10] vfeskov commented on #53
done, will describe in release notes

[2018-11-03 13:10] vfeskov commented on #20
done, will describe in release notes

[2018-11-03 13:10] #20 closed

[2018-11-03 15:48] TPS commented on #20
@vfeskov This makes a potential new sort option — by notification level: muted, major, minor, patch/all, which helps 1 quickly determine what 1 did (but perhaps didn't mean to 😳)

[2018-11-03 23:15] broizter opened #54 "Feature request: Add other options for receiving notifications"
Would be great if there were more options than just email for receiving notifications. Telegram, Pushover, Pushbullet, Slack and Discord is some popular alternatives.

[2018-11-04 18:15] EPinci opened #55 "Email formatting broken on Outlook"
Hey!

Just to report that, for some weird reason, the notification's email html is "broken" when rendered by Outlook 2016.

Thank you.

[2018-11-05 01:26] TPS opened #56 "RFE: Generate changelogs for repos' releases that don't explicitly provide them"
@vfeskov Most of the repos I've muted in G👊 because they don't actually provide usable changelogs when I'm notified, or @ least, for not _every_ notified release.  Many of _those_ would be better served by printing the commit comments (which is what most changelogs do, anyway.)

Here's an example from a repo (that has no recent releases, but that's not really relevant here):
If 1 checks https://gi

[2018-11-05 15:13] TPS commented on #56
Here's an even better option, if a changelog is updated, but not transcluded, use it, e.g., https://github.com/bromite/bromite/releases.  But remember to include the diff of the changelog the same way, so as not to get all previous changes, also.

[2018-11-07 02:20] TPS commented on #56
After reading changelog @ https://github.com/M66B/open-source-email/releases, I find that 1 can diff between version #s simply by inserting before & after ellipses, so for my example above, https://github.com/jsummers/tweakpng/compare/1.4.5...1.4.6 works!  Should make accomplishing this 💯× easier!

[2018-11-09 08:29] crazy-max commented on #53
Hi @vfeskov, unfortunately this implementation did not solved my issue. Like I said, I was thinking to check the release status (draft, pre-release, release) :

![image](https://user-images.githubusercontent.com/1951866/48251391-c241ea00-e401-11e8-8225-01008d01a3f6.png)

Where :

* `release = !release.draft && !release.prerelease`
* `prerelease = release.prerelease`
* `draft = release.draft`

[2018-11-09 13:47] vfeskov commented on #53
thing is im not using github api because of rate limiting, im using atom feeds, e.g., https://github.com/angular/angular/releases.atom , and i think it doesn't have those flags, does it?

[2018-11-09 13:52] crazy-max commented on #53
Ok legit, I understand the limitation. And unfortunalety, you right [there is no evidence for these flags](https://github.com/isaacs/github/issues/410) in ATOM feeds :persevere:

[2018-11-10 15:30] TPS commented on #56
Maybe for those who really want lean e-mail notification, the reverse should also be available, i.e., _just_ release version info, w/o any changelogs @ all.

[2018-11-16 09:30] duongdev commented on #54
+1 for this. Suggest  *web hooks*.

[2018-11-28 07:48] TPS commented on #41
@vfeskov I sincerely hope pt.3 above happened & that's how [this is rudimentarily solved officially](https://blog.github.com/changelog/2018-11-27-watch-releases/). 🤞

[2018-11-28 13:05] MartinX3 opened #60 "Remove Account Function"
I miss a function to remove my account on your service.
Since GitHub integrates this function.

PS:
Thank you for your hard work. :-)

[2018-11-28 13:34] vfeskov commented on #60
Yeah I there's no automatic way right now, but you can always drop me a message on
v[at]vladimirfeskov.com
and i will delete it for you. Yours has been deleted already.

I will close the issue when i add the function

[2018-11-28 13:56] MartinX3 commented on #60
Thank you very much! :)

[2018-12-26 08:31] Vad1mo commented on #55
Some more info about the brokenness or screenshots would be helpful.

[2018-12-26 08:50] Vad1mo opened #61 "Display type of the version update in the email notification."
It would be helpful to know if the update was a Major, Minor or Patch version.

There is an option already in the UI to filter and receive only certain types. However, it is not the same as having an overview in the mail itself. The reality is that sometimes after a major update for example I am interested in patches updates.

![image](https://user-images.githubusercontent.com/1492007/50439249-ab9

[2018-12-29 18:21] EPinci commented on #55
Hey, this is what the email looks like:
- On Outlook (desktop):<br />
![](http://blog.echopod.net/wp-content/uploads/2018/12/Capture2.png)
- On Outlook (mobile):
![](http://blog.echopod.net/wp-content/uploads/2018/12/Capture3.jpg)

[2018-12-30 20:25] HorlogeSkynet opened #62 "Import / Export user configuration"
Hello Vlad,

I was just wondering today if it could be possible for us to (import /) export our GitPunch configuration.
It could mitigate any migration issue (as when you drafted the v1.10.0 :wink:), and / or encourage quick and easy transfers towards personal instances (#decentralization).

Anyway, a big thank to you for this awesome solution, the daily email is very appreciated :ok_hand:

Bye :w

[2018-12-31 18:55] vfeskov commented on #62
Hey hey, how do you mean import/export would solve v1.10.0 issue? People having their own backups?

Regarding export, does this work for you https://gitpunch.com/api/profile ? or you need raw database entry in `users` collection?

would import function be useful to you personally? any idea how it should look like, a csv?

[2019-01-01 16:42] HorlogeSkynet commented on #62
Hey back Vlad (happy new year ! 🎉), well I didn't know about the available API, and it looks like it already provide all the needed information for an import / export feature (apart from the user ID that would need to be ignored of course).

About your question : Yes, users would keep their profile backup somewhere somehow.

In the long run, yes it would maybe for me, but surely for others in the

[2019-01-08 10:50] sdouche opened #63 "Receive each mail twice"
Hi :)
Since Jan 6, I receive the email twice.

![screenshot-www fastmail com-2019 01 08-11-19-09](https://user-images.githubusercontent.com/170176/50826317-91b3f900-133b-11e9-8f66-33be73aa6d54.png)

Regards.

[2019-01-13 10:04] vfeskov commented on #63
Hi Sébastien, you have two accounts on GitPunch, both linked to your GitHub account. I assume you changed your GitHub email and signed in to GitPunch using the new email so it registered you again instead of signing you in your old account. What you can do yourself is to find one email that is sent to your old email address and click "unsubscribe" in it. I can also delete the wrong account, send i

[2019-01-13 22:40] sdouche commented on #63
Hi @vfeskov. You're right, I switched to a new email. I followed your advice and removed notifications from my old email. Thanks!

[2019-01-13 22:40] #63 closed

[2019-02-05 07:45] schittli opened #64 "Would it be possible to add the short GitHub Project description to the E-Mail?"
Good morning
Thank you **very much** for your very useful service!, it helps a lot to keep up to date.

#### If we get the gitpunch E-Mail, we usually have the same question: what is Project X doing?

In my examples, I use those projects: [pretix/pretix](https://github.com/pretix/pretix) and [fsprojects/Paket](https://github.com/fsprojects/Paket)

##### For example: the current Update-Notification

[2019-02-28 17:42] crazy-max opened #65 "Notify only if assets included ?"
Hi @vfeskov !

Again, thanks a lot for this project, it saves my a lot of time :)

Is it possible to add an option that would allow notification only if assets are present in a release ?

Thanks !

[2019-03-14 20:54] skapytek opened #66 "how to install"
Hi,
how can i install this on my own server?

best regards

[2019-04-23 07:16] torgeirl opened #67 "Daily setting doesn't follow summer/winter time shifts"
Hi,

I've set my notifications to come daily at 09:00, and hovering the time it says my time zone correctly. There seems to be an issue when my zone moves to and from Summer time.

- when we moved from CEST to CET on October 28, 2018 the dailies suddenly arrived an hour ealier. I manually changed it back to 09:00, and forgot about it.
- when we moved from CET to CEST on March 31, 2019 GitPunch the

[2019-06-07 01:45] caleb15 opened #75 "idea: notify on pip releases"
some apps might release through a package library like pip/npm and not record their release on github. For example, https://github.com/ivelum/djangoql

[2019-06-08 10:45] mapl opened #76 "RSS Feed - Feature Request"
Instead of just being notified via Email about new releases, I would like to subscribe to a RSS Feed.

[2019-08-03 11:26] TPS commented on #26
- https://gitlab.com/AuroraOSS/auroradroid/-/releases
- But BitBucket doesn't _(yet)_ have!: https://bitbucket.org/site/master/issues/11404/attach-release-notes-and-artifacts-to-tags

[2019-09-22 21:46] vfeskov commented on #36
i guess i was too hasty closing this issue, i assumed it was similar to this https://github.com/vfeskov/gitpunch/issues/63 (changing email on github lead to terrible things)

[2019-10-07 21:08] aeimer commented on #48
Seems to be ok

[2019-10-07 21:08] #48 closed

[2020-01-01 20:32] szpak opened #88 "Better support for transferred starred repos"
I really like GitPunch which allows me to follow favorite projects (which was the killer feature especially in the times it was not supported by GitHub)!

I see one field for improvements. When a starred repo is transferred, e.g. from an [user account](https://github.com/aalmiray/kordamp-gradle-plugins) to an [organization](https://github.com/kordamp/kordamp-gradle-plugins/) there are 2 notificati

[2020-01-26 21:59] szpak opened #89 "Broken link for fancy tag names with @"
For example for this tag:
https://github.com/jorgebucaran/hyperapp/releases/tag/@hyperapp/events@0.0.4
(https://github.com/jorgebucaran/hyperapp/releases/tag/%40hyperapp%2Fevents%400.0.4)

an URL generated in the mail notification is:
https://github.com/jorgebucaran/hyperapp/releases/tag/events@0.0.4

Probably some filter strips out `@foo/` from a tag name.

[2020-03-29 14:36] Archinowsk opened #94 "Updates missing in email"
For the past four days, the daily emails have had only 1-2 projects with updated versions. I have 1.4k starred projects and usually, there are 10-20 updated projects in each email.

For example, a new version of [Jest](https://github.com/facebook/jest/releases/tag/v25.2.3) was released 26.3. and it was missing from the email.

Thanks for offering this extremely useful service!

25.3.

![image](htt

[2020-03-29 21:27] vfeskov commented on #94
can you please email me your user's email address, my email is v@vladimirfeskov.com

[2020-03-30 22:58] vfeskov commented on #94
Looks like github introduced a limit of 1 concurrent request per host on 25th March, before that a 100 were working just fine

Daily emails are made by requesting releases of all repositories of all the relevant users from atom feeds, e.g., https://github.com/vfeskov/gitpunch/tags.atom .

For example, there were 100 users with 30 000 unique repositories in total, and they all were subscribed to re

[2020-04-05 19:26] szpak commented on #94
FYI @vfeskov, in a case you are working on that. Today I've got a batch mail with **a lot of** project notifications (it's hard to say it it was all, but definitely it is more than I used to get on a daily basis in the past).

[2020-04-05 19:39] vfeskov commented on #94
i think it's fixed, im going to monitor for a few days before closing the issue - please leave a comment if you have any problems still

will explain what i did in a release note

[2020-04-07 19:45] vfeskov commented on #94
alright so everything looks good on my side and no complaints here either so im gonna close

[2020-04-07 19:45] #94 closed

[2020-04-12 14:02] vfeskov commented on #88
yeah the root cause is that i'm using repo names as IDs instead of repo's actual numeric IDs. Refactoring to use numeric IDs is a big project since releases are requested by repo name and not it's ID, but it's not impossible

[2020-04-12 14:13] szpak commented on #88
It's not a big problem. It's probably not worth to do the big refactoring.

[2020-04-12 14:16] szpak commented on #88
Btw, maybe it would be easier (and possible) to just detect duplicates in the project stream and filter out the "older one"?

[2020-04-24 08:36] Vad1mo opened #96 "No description in E-Mail"
The last two days, I received emails without any descriptions. Everything was  "No description".
I few days before that I got one email without any description but then it was ok until now.

![image](https://user-images.githubusercontent.com/1492007/80192154-100eda00-8617-11ea-8959-7b94eac076f4.png)

[2020-04-24 08:44] Vad1mo opened #97 "Abreviate Release Description"
Some repos have huge release description, listing all commits and more.
 example: https://github.com/quarkusio/quarkus/releases

In cases of big mails, the anchor links stop working ( at least in Apple mail).

I would be helpful to Abbreviate long descriptions eg. to **1200** chars?

[2020-04-24 21:19] vfeskov commented on #97
makes sense :+1:

[2020-05-21 11:28] vfeskov commented on #96
even though i request one link at a time from github, i still get rejected after certain number of requests. In https://github.com/vfeskov/gitpunch/commit/68491bae799b50e3b5693259cf0f5dc6f0ca019e i added a delay before retrying a  request when i start getting rejected - hopefully it'll fix the issue

[2020-05-21 11:32] #97 closed

[2020-05-22 07:41] Vad1mo opened #98 "sometimes gitpunch adds "READ MORE" links even if it isn't needed."
Related to #97

Some notification boxes  contain READ MORE links but if you follow the link, the actual content on github is exactly the same as in the email. Nothing is abbreviated.

in some cases gitpunch attaches "READ MORE" links even if it isn't needed.

Here are two examples, where content is exactly the same in the mail and on github.
![image](https://user-images.githubusercontent.com/14920

[2020-05-22 10:07] vfeskov commented on #96
issue looks to be fixed, i'll keep monitoring though. thanks for reporting!

[2020-05-22 10:07] #96 closed

[2020-05-22 10:55] #98 closed

[2020-05-22 10:55] vfeskov commented on #98
thanks for reporting

[2020-06-11 10:47] schittli opened #100 "Idea: Set Default Notification Level for all monitored Projects"
Good afternoon
**Thank you very much for your very useful Software.** It's strange that GitHub still has no similar feature.

I have a small idea:
By default, gitpunch sets the notification level for all monitored projects to "All releases".
I've noted that I usually prefer the notification level 'Minor' - with just some exceptions for projects I want to actively monitor.

Therefore a function cou

[2020-06-29 04:55] beeing opened #101 "Notifications Not Received"
Hi, just wondering if the notification is still working?

I've not receiving emails for awhile now.

Thanks.

[2020-06-29 06:50] beeing commented on #101
Just saw the email toggle is turned off. Now its working again. Thanks.

[2020-06-29 06:50] #101 closed

[2020-12-06 15:44] HorlogeSkynet commented on #62
So I guess the following would work (for anyone interested) on a fresh instance with an existing profile :

[code]

Closing here, thanks.

[2020-12-06 15:44] #62 closed

[2021-02-08 11:27] bersbersbers commented on #88
How do you do that? Can you do that from GitHub somehow (that's where I'm struggling), or do you have to go to pitpunch.com?

[2021-02-08 11:29] bersbersbers opened #126 "Order of filters in UI"
The filters in gitpunch.com are (from left to right):

I think it would make sense to order them by verbosity, either

or

[2021-02-08 12:00] AlexWayfer commented on #126
I think you don't understand what "all" means.

Major — only when the first digit changes, the most rare notifications.
Minor — more often, patch — almost every release.
But there can be beta-versions, RC-versions, 4th-digit versions, etc., everything of that including in "All", I think, so it's the most often.
So, the order is from less often notifications to more often. Seems logical.

[2021-02-08 12:08] AlexWayfer commented on #88
There is just a bell button on the GitPunch.com to mute repos:

![image](https://user-images.githubusercontent.com/6510020/107217672-8ef6c700-6a1f-11eb-991f-79cfd8b3e850.png)

[2021-02-08 13:24] bersbersbers commented on #126
Embarrassing. Yes, @AlexWayfer, of course - and sorry for the noise!

[2021-02-08 13:24] #126 closed

[2021-02-08 13:26] bersbersbers commented on #88
@AlexWayfer yes, I just became aware of that (hadn't visited gitpunch.com in a looong time, because all UI I need on a daily basis is on github.com). I just asked myself how to unsubscribe from a renamed repo on github.com (you probably cannot).

[2021-02-08 13:43] bersbersbers commented on #88
I guess so. I had starred https://github.com/rg3/youtube-dl once, which is now https://github.com/ytdl-org/youtube-dl - so I was getting duplicate announcements.

But a simple GET request can give you the new URL:

[code]

And you don't even need to download the body:

[code]

This can be done one a day/week/month for housekeeping, or maybe implemented on-the-fly to avoid duplicates (although the

[2021-06-26 08:39] cremor opened #154 "Not getting notifications for a specific repository"
I recently noticed that GitPunch doesn't notify me about new releases in the [K-9 Mail](https://github.com/k9mail/k-9) repository. I don't know if other repositories I starred have the same problem, but for now I only know for sure about this one.

That repository only has pre-releases since 2018, but I checked my settings and everything should be set to receive notifications about pre-releases. N

[2022-01-03 21:14] hansenc0705 opened #160 "Login with GitHub broken using macOS Safari 15.2 (17612.3.6.1.6)"
Hitting Login with GitHub takes you to the GitHub login screen and login is successful but on redirect you are taken back to the main non-authenticated screen.

Tested on macOS Chrome Version 96.0.4664.110 and works fine but not on Safari 15.2 (17612.3.6.1.6). iOS 15.2 (19C57) seems to have the same issue as well.

[2022-03-30 16:09] Archinowsk opened #175 "Not receiving emails anymore"
I haven't received emails for last five days. My last email was received 25.3. Checked junk mail and didn't find them from there either. I'm using Gmail.

![image](https://user-images.githubusercontent.com/1327412/160881001-25060748-23ca-47bd-89f5-e8d28f59d85f.png)

![image](https://user-images.githubusercontent.com/1327412/160880832-824e1fd2-421d-46a9-9c50-0feb4d784ef6.png)

[2022-03-31 06:10] torgeirl commented on #175
Normally don't receive that many so unsure how long it's been for me - but I can point to at least one release (two days ago) that should have generated an email notification to me (yesterday), that didn't.

[2022-04-06 05:31] yotov commented on #175
Same for me. I didn't receive any new emails after 25.03

[2022-04-10 10:17] MrBLightning opened #183 "Offering to add free integrity verification"
Hi Vlad,
My name's Barak and I'm the DevRel at Scribe Security. We're developing a security tool that helps verify that files remain unchanged between the repo and the end of the pipeline making sure that no files were maliciously or otherwise changed anywhere on the pipeline if they were not supposed to.
Currently, we're focused on NPM projects and I thought your project, gitpunch, is a great can

[2022-04-12 07:38] toha-nordic commented on #175
Experiencing the same issue here, any news regarding this?

[2022-05-04 12:02] whoiswes commented on #175
Same here, no emails for several weeks.

[2022-05-05 15:21] Coobaha commented on #175
As a workaround you can read RSS feeds for releases

- can recommend [NetNewsWire](https://github.com/Ranchero-Software/NetNewsWire)
  - it stores feeds on  `Subscriptions.opml` and reads them on start
  - When opened `NetNewsWire` scans `Subscriptions.opml` and imports new items and removes dupes

Here is quick and dirty script I use to import all my GitHub stars into RSS reader as a cron job, yo

[2022-05-06 12:50] seuffert commented on #175
didn't get any new notification emails since end of march :(

[2022-06-10 17:21] gaia commented on #175
V Feskov sounds like a Russian name. What probably happened is that he has not be able to pay or use Amazon SES to have the emails sent out.  Or maybe he was sent to that horrible war. The solution then is to fork the project and put it under another domain name.

[2022-06-24 10:38] vfeskov commented on #175
Hey lovely people!

I'm Ukrainian and a principal engineer at a startup and a lot has happened in my life since February, for a long time i've had a lot on my plate and deprioritized maintaining GitPunch. I keep paying for it though, no issue there.

I suspect what happened is the change of github authentication method - i remember receiving alerts about it from github. i will look into it on the

[2022-06-24 16:49] gaia commented on #175
Slava Ukraini!! and thank you! (my wife is Ukranian)

[2022-07-19 20:07] vfeskov commented on #175
Found few more bugs and fixed them, haven't seen any issues for almost a week now, so Im closing this, but please feel free to report if you spot anything. Again thanks for using GitPunch, even after 3 months of downtime, it was embarassing ngl :)

[2022-07-19 20:07] #175 closed

[2022-08-07 10:42] torgeirl commented on #175
After receiving one daily email on July 11 I'm back to not receiving emails again unfortunately. As far as I can tell I should have received daily emails on at least July 13, July 17, July 22, August 3 and August 6.

@AlexWayfer: are you receiving daily or individual notification emails?

[2022-08-07 16:30] AlexWayfer commented on #175
Kind of groupped, but it happes a few times per day if neccessary. Example:

![image](https://user-images.githubusercontent.com/6510020/183301122-c3daf421-a6de-459f-83f2-bb652d990d56.png)

![image](https://user-images.githubusercontent.com/6510020/183301127-6482d7d6-1186-460d-8cd1-071a006275d8.png)

![image](https://user-images.githubusercontent.com/6510020/183301154-055079c5-86e0-4012-a0bb-da988a

[2022-08-07 17:32] vfeskov commented on #175
i don't see any errors/timeouts in my logs, @torgeirl can you please send me your email address to vlad@vfeskov.com, i will check your case in particular.

[2022-10-24 17:24] wouterkroes opened #196 "Github two-factor authentication login"
Hello,

I would like to change the notification level for all my starred repositories from the default all releases to only major releases.

I think I can do this by first getting my token via the `POST /api/sign_in` call. Then run the `PATCH /api/repos/all` call with the token for authentication.

But the `POST /api/sign_in` call fails, I think this is because I have github two-factor authenticat

[2022-10-24 21:28] vfeskov commented on #196
Hi Wouter, i didn't even think of this scenario, the easiest and the quickest way for me would be to set a password hash for your account, would that work for you?

If yes then please generate a hash [here](https://codesandbox.io/s/node-playground-forked-rmhogn?file=/index.js):

<img width="1440" alt="Screenshot 2022-10-24 at 23 22 46" src="https://user-images.githubusercontent.com/2743367/1976322

[2022-10-25 20:07] #196 closed

[2022-10-25 20:45] wouterkroes commented on #100
@schittli did you know you can set the level of all your current starred projects via the `PATCH /api/repos/all` call ([docs](https://github.com/vfeskov/gitpunch#patch-apireposall))?

I do agree it would be a great feature to be able to change the default notification level of gitpunch. So when new starred projects are imported into gitpunch, they already have the desires notification level. 🚀

[2022-11-20 17:23] cremor commented on #154
This was fixed some time ago.

[2022-11-20 17:23] #154 closed